.scroll {
    font-family: "Courier New", Courier, monospace;
    font-size:18px;
    padding: 0 10px;
    width:800px;
    height:60px;
    background:#A3CBE0;
    border:2px solid #000;
    overflow:auto;
    white-space:nowrap;
    box-shadow:0 0 10px #000;
}

#title h1 {
    font-size: 60px;
}

.slide h1 {
    font-size: 35px;
    font-weight: bold;
}

.slide h2 {
    font-size: 25px;
    font-style:  italic;
    padding-top: 10px;
    padding-left: 40px;
}


.slide-corner-bottom {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.lexicon p {
    margin-bottom: 10px;
}

.selected {
    color: #4ccbff;
    font-weight: bold;
}

code {
    font-size: large
}

.ast {
 font-family: Consolas,Monaco,Courier New,monospace;  
 color: black;
 font-size: 20px;
 line-height: 16px;
 background-color: #F5F5F5;
 border-radius: 3px;
 padding: 3px 5px 1px;
 margin: 0 3px 0 1px;
 text-shadow: 0px 1px 0px #fff;
 -webkit-font-smoothing: antialiased;
 font-weight: 500;   
}