@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,100);
#containerGraph {
    min-width: 300px;
    max-width: 100%;
    height: 90vh;
    margin: auto;
    margin-top:100px;
    width:90vw;
}
#containerGraph .highcharts-container {
    border-radius:20px;
}
#containerMap {
    margin-top:100px;
    text-align:center;
}

.scroll {
    font-family: "Courier New", Courier, monospace;
    font-size:18px;
    padding: 0 10px;
    width:800px;
    height:60px;
    background:#A3CBE0;
    border:2px solid #000;
    overflow:auto;
    white-space:nowrap;
    box-shadow:0 0 10px #000;
}

#title {
    color: #404248;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

#title img {
    margin-top: 0px;
}

#title h2 {
    font-size: 38px;
    font-weight: 500;
    padding-bottom:30px;
}
#title h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom:30px;
}
#title p {
    font-size: 30px;
    font-weight:300;
}
blockquote {
    padding-left:30px;
    margin-top:30px;
    margin-bottom:50px;
    border-left: 5px solid grey;
}
.link {
	font-size: 100px;
	padding-top: 30px;
}

.slide h1 {
    font-size: 35px;
    font-weight: bold;
}

.slide h2 {
    font-size: 25px;
    font-style:  italic;
    padding-top: 10px;
    padding-left: 40px;
}


.slide-corner-bottom {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.style1 {
    text-align:center;
}
.style1 p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 27px;
    line-height: 36px;
    letter-spacing: -1px;
}

.style1 .img1, .style1 .img2 {
    padding-top: 20px;
    text-align:center;
}

.style1 .img1 img {
    width: 200px;
}

.style1 .img2 img {
    height:250px;
    margin: 20px 0;
}

.style2 div {
   text-align: center;
}

.style2 h2 {
   text-align: right;
   margin-bottom: 50px;
}

.style2 ul {
	text-align:left;
}

.style2 img.bottom {
   margin-top:30px;
}

.style2 img.right {
   position: absolute;
   bottom:10px;
   right:10px;
}


.computer {
    width:100vw;
    height:100vh;
    padding: 5px;
}

.computer div {
    text-align:center;
}

.computer object, .computer img {
    width:90vw;
    height:90vh;
    margin:auto;
    border: 20px solid black;
    border-radius:20px;
}

.demo {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 45%;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    z-index: 100;
    opacity: 1;
    margin:auto -30%;
}

.ex1 {
    /*font-weight: bold;*/
    color:#5bc0de;
}

.ex2 {
    /*font-weight: bold;*/
    color:#d9534f;
}

.code {
    background-color: black;
    color:white;
    font-family: courrier;
    font-size: smaller;
    line-height: 1;
}