.scroll {
    font-family: "Courier New", Courier, monospace;
    font-size:18px;
    padding: 0 10px;
    width:800px;
    height:60px;
    background:#A3CBE0;
    border:2px solid #000;
    overflow:auto;
    white-space:nowrap;
    box-shadow:0 0 10px #000;
}

#title h1 {
    font-size: 60px;
}

.slide h1 {
    font-size: 35px;
    font-weight: bold;
}

.slide h2 {
    font-size: 25px;
    font-style:  italic;
    padding-top: 10px;
    padding-left: 40px;
}

.lexicon p {
    margin-bottom: 10px;
}